@page "/paidproducts"
@using website_ban_ao_quan_nam_bao.Models
@using website_ban_ao_quan_nam_bao.Services
@inject PaidProductService PaidProductService

<h3>Sản phẩm đã thanh toán</h3>

@if (PaidProductService.GetPaidProducts().Count == 0)
{
    <p>Không có sản phẩm đã thanh toán.</p>
}
else
{
    foreach (var paidProduct in PaidProductService.GetPaidProducts())
    {
        <div>
            <h4>@paidProduct.Product.Name</h4>
            <p>Giá: @paidProduct.Product.Price.ToString("C")</p>
            <p>Mô tả: @paidProduct.Product.Description</p>
            <img src="@paidProduct.Product.ImageUrl" alt="@paidProduct.Product.Name" />
            <h5>Thông tin khách hàng</h5>
            <p>Tên: @paidProduct.CustomerInfo.Ten</p>
            <p>Email: @paidProduct.CustomerInfo.Email</p>
            <p>Địa chỉ: @paidProduct.CustomerInfo.DiaChi</p>
        </div>
    }
}
